.containerLogin {
    margin: 20px;
    display: grid;
    grid-template-columns: auto 88px;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 14px;
    grid-template-areas:
    "tth1 tth1"
    "ustf ustf"
    "pstf pstf"
    "fgps lgbt";
}

.titleLogin {
    grid-area: tth1;
    font-weight: normal;
}

.usernameTextField {
    grid-area: ustf;
}

.passwordTextField {
    grid-area: pstf;
}

.loginRaisedButton {
    grid-area: lgbt;
}

.forgetPasswordButton {
    grid-area: fgps;
    font-size: 0.75em;
}